/* Início Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Fim Reset */
html{
    font-family: 'DM Sans', sans-serif;
}

/* Início Header */
header{
    width: 100%;
    height: 92px;
    background: #111111; /* background: #1d1d20; */   
    color: white;
    border-bottom: 1px solid #ff9f00;
    font-size: 1.1em;
}
header a, footer a{
    color: white;
    text-decoration: none;
    
}
header a, div, ul, li{
    display: inline-block;
}
header nav{
    max-width: 1040px;
    margin: 0 auto;
    margin: 0 auto;
    padding: 0px 10px;
}
#logo{
    width: 80px;
    height: 72px;
    background: url('../img/logoR2.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    color: transparent; 
    margin-top: 10px;
}
#mobile{
    float: right;
    display: none;

}
#mobile a{
    font-size: 37px;
    margin-top: 28px;
    margin-right: 10px;
}
#mobile a:hover i, footer a:hover{
    color: #ff9f00
}
#menu{
    float: right;
    margin-top: 40px;
}
#menu ul li{
    margin-left: 10px;
}
#menu ul li a:hover{
    color: #ff9f00
}

/* Fim Header */

/*Início Main*/

/* Início Home */
main .titulo{
    text-align: center;
}

main .cont{
    max-width: 1045px;
    margin: 0px auto;
    display: block;
    padding: 30px;
}

main h1{
    color: #ff9f00;
    font-weight: bolder;
    font-size: 23px;
    margin-bottom: 15px;
}
main p{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    line-height: 24px;
}
#home{
     height: 100vh;
}
#home #home-container{
    max-width: 1045px;
    height: 439px;
    display: block;
    margin: 0 auto;
    padding: 80px 40px;
}
#home #textoHome{
    width: 400px;
    float: left;
    display: block;
    margin-top: 80px;
}
#textoHome h1{
    font-family:cursive;
    font-size: 45px;
    line-height: 59px;
}
#textoHome h1 span{
    color: #ff9f00;
    font-weight: bolder;
}
#textoHome p{
    margin-top: 5px;
    font-size: 28px;
    color: gray;
    font-weight: lighter;
    
}
#home #foto{
    width: 400px;
    float: right; 
    display: block;
}

#home  #botoes{
    margin-top: 30px;
}
#home #botaoCurriculo, #home #botaoContato{
    text-decoration: none;
}
#home #botaoCurriculo{
    color: white;
    padding: 10px 30px;
    /* background-color: #ff9f00; */
    background-image: -webkit-linear-gradient(315deg, #ff9f00, #ffeb00);
    border-radius: 35px;
    margin-right: 25px;
}
#home #botaoCurriculo:hover{
    background-image: -webkit-linear-gradient(315deg, #ff9f00, #ff9f00);
}
#home #botaoContato{
 color: #ff9f00;
 border: 2px solid #ff9f00;
 padding: 8px 20px;
 border-radius: 35px;
}
#home #botaoContato:hover{
    background-color:#ff9f00;
    background-image: -webkit-linear-gradient(315deg, #ff9f00, #ffeb00);
    color: white;
    border: none;
    padding: 10px 20px;
}
/* Fim Home*/

/* Início Sobre*/
#sobre{
    /* background-color: lightsteelblue; */
    background-color: #f7f4f4;
    height: 100vh;
}


/*Fim do sobre*/

/* Fim sobre */

/* Início Escolaridade*/
#escolaridade{
    background-color: lightgray;
    height: 100vh;
}

/* Fim Escolaridade*/

/* Início Aperfeiçoamento*/
#aperfeicoamento{
    background-color: lightsteelblue;
    height: 100vh;
}
/* Fim Aperfeiçoamento*/
#aperfeicoamento ul li{
    width: 150px;
    height: 150px;
    background: #111111;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 10px;
    text-align: center;
}
#aperfeicoamento h2{
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 25px;
}
#aperfeicoamento ul li:hover{
    background: white;
    color: #ff9f00;
    cursor: pointer;

}
#aperfeicoamento i{
    font-size: 52px;
    
}
/* Fim Aperfeiçoamento*/

/*Início Projetos*/
#projetos{
    background-color: lightyellow;
    height: 100vh;
    text-align: center;
}
#projetos li:hover{
    opacity: 0.5;
    
}
#projetos img{
    width: 200px;
    height: 200px;
}
#projetos li{
    margin: 10px;
}
/*Fim Projetos*/

/* Fim Main */

/* Início footer*/
footer{
    width: 100%;
    height: 92px;
    background: #111111; /* background: #1d1d20; */   
    color: white;
    border-top: 1px solid #ff9f00;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em; 
    text-align: center;   
}
footer #redes{
    margin-top: 40px;
}
footer #redes li{
    margin-right: 15px;
}
footer i{
    font-size: 25px;
}
footer a{
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}
footer a i{
    margin-right: 5px;
}
/* Fim footer*/

/* Responsividade */

@media (max-width: 669px){
    #menu{
        display: none;
    }
    #mobile{
        display: block;
    }
}