#tabela1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#tabela1{
    width: 600px;
    background-color: #C7E7F3;
    text-align: center;
    margin:  0 auto;
}
#tabela1 tabela, tabela1 th, tabela1 td {
  border: 1px solid #C7E7F3;
  border-collapse: collapse;
}
#tabela1 td:first-child{ /* odd Impar */
    background-color: lightgray;
    text-align: center;
}
#tabela1 tr td:nth-child(4){
    background-color: lightgray;    
}
#tabela1 td:nth-child(2),td:nth-child(3),td:nth-child(5),td:nth-child(6){ 
    color: #0D5188;   
    font-weight: bolder;
}
#tabela1 td:nth-child(1),td:nth-child(4){ 
    width: 10%;  
}
#tabela1 td:nth-child(3n) {
    width: 15%;
  }
#tabela1 tr:first-child{
    background-color: #66C5E3;
    color: black;
}
#tabela1 caption{
    background: #0D5188;
    color: white;
    padding: 2px;
    font-weight: bolder;
}
#exercicio2{
    margin-top: 100px;
}
#tabela2{
    width: 100%;
}
