/*  Reset Css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*{box-sizing: border-box;}
p{margin: 0px; padding: 0px}
a:hover{text-decoration: none;}
li{list-style: none;}

/*  Fim Reset Css */

/* Barra de rolagem */
* {
    scrollbar-width: thin;
    scrollbar-color: #D5D5D5 #FFFFFF
}

*::-webkit-scrollbar {
    width: 12px
}

*::-webkit-scrollbar-track {
    background: #FFFFFF
}

*::-webkit-scrollbar-thumb {
    background: #D5D5D5;
    border-radius: 1rem;
    border: 4px #FFFFFF solid
}

/* fim varra de Rolagem */

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
  }
html{
    scroll-behavior: smooth;
    font-family: Poppins;
    scroll-behavior: smooth;
    background: #175ea8;
    background: #1d5da2;
    background: #00a1e4;
    background: #eeeeee;
    background: #eb6852;
    background: #bde386;
    background: #effbff;
    background: #ffe7b2;
    background: #feeed2;
    background: whitesmoke;
    background: #371669;
    background: #4e2096;
    background: #f3eee8;
    background: #74cb90;
    background: #cce9fd;
    background: #229dc3;
    background: white;
    background: #e7f0f7;
    
}
/* Header */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00a1e4;
    background-image: -webkit-linear-gradient(315deg, #00A1DE, #2477cd);
    padding: 10px 15px;
    position: fixed;
    top: 0px; 
    z-index: 10000;
}

header #logo{
    display: block;
    width: 140px;
    height: 49px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
header #logo:hover{
    opacity: 0.9;
}

header .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header #menu{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
header #menu ul {
     display: flex; 
}

header nav #menu li{
    margin-left: 10px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.3s ease 0s;
}
header a:hover{
    color: #1d5da2;
}
#botao-menu{
    display: none;
    font-weight: 900;
    font-size: 32px;
    color: white;
    cursor: pointer;
}
#botao-menu:hover{
    color: #1d5da2;
}

header a{
    text-decoration: none;
}

header #menu-mobile{
    opacity: 0;
    transition: 0.5s;
    transform: translateX(100rem);
    position: fixed;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 100%;
    background: #cce9fd;
    background: #1d5da2;
    text-align: center;
    z-index: 10001;
}
header #menu-mobile a{
    display: block;
    padding: 20px 0px; 
    font-size: 22px;
}
header #menu-mobile i{
    margin: 20px 20px 20px 20px;
    text-align: right;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
header #menu-mobile ul li:first-child{
    text-align: right;
}
header #menu-mobile i:hover{
    color: #cce9fd;
}

header #menu-mobile a:hover{
    background: #cce9fd;
}
main{
    padding-top: 73px;
}
/* Inicio Espécies*/
#especies{
    background: white;
    height: 115px;
    padding-top: 8px;
    padding-bottom: 13px;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 1280px;
    margin: 15px auto;
    border-radius: 23px;
    border: 1px solid rgb(237, 237, 237);
}
#especies::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
#especies a:hover{
    opacity: 0.7;
}
#especies ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#especies ul li{
    display: inline-block;
    text-align: center;
    
}
#especies ul li img{
    display: block;
}
#especies ul li a{
   text-decoration: none;
   color: #175ea8;
   font-weight: 500;
}

/* Início Vitrine*/
.carousel-caption{
    color: #1d5da4;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.7em black;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}
.carousel-control-prev i, .carousel-control-next i{
    color: #1d5da2;
    font-size: 30px;
}
.carousel-item a > img {
     width: 100%;    
     /* height: 310px;   */
}
.carousel-indicators li{
    background-color: #9ae1ff;
}

#carouselExampleIndicators .active{
    background-color: #175ea8de;
}
  

/* Texto */
.cont{
    max-width: 1200px;
    margin: 0 auto;
}
/* Início Cards */
#cards{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    background: #e7f0f7;
    background: url(../img/pet3.png) ;
    background-size: contain;

}
#cards h1{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 800;
    color: #175ea8;
    margin-bottom: 50px;
}
#cont-cards{
    display: flex;
    margin-top: 1.6rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px 20px;
}
.item-card{
    margin-bottom: 20px;
}
#cards img:hover{
    transition: 0.9s;
    transform: scale(1.1,1.1);
    opacity: 0.8;
}


/* Artigos */

#cont-artigos{
    background: #cde9fe url(../img/pet.png);
    background-size: cover;
    padding-bottom: 50px;
}
#artigos #top-artigos{
    display: block;
    height: 82px;
    background-image: url(../img/bg-topo-azul.png);
    background-repeat: no-repeat;
    background-size: cover;

}
#artigos #bot-artigos{
    display: block;
    height: 69px;
    background-image: url(../img/bg-bottom-azul.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#artigos h1 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 800;
    color: #175ea8;
    margin-bottom: 50px;
    text-align: center;
}

/* Artigos link*/
#link-artigo{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
} 
#link-artigo article{
    max-width: 269px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgb(237, 237, 237);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 8px 0px;  
    margin: 0px 15px;

}
#link-artigo article:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
}
#link-artigo article:hover img{
    filter: grayscale(65%);
}
#link-artigo .textos-artigo{
    padding: 15px;
}
#link-artigo article img{
    margin-bottom: 15px;
    width: 100%;
}
#link-artigo article h2{
    margin-bottom: 10px;
    color: #175ea8;
}
#link-artigo article a{
    text-align: center;
    /* max-width: 190px; */
    margin: 0 auto;
    margin-top: 50px;   
    padding: 10px;
    display: block;
    color: white;
    background-image: -webkit-linear-gradient(315deg, #00a1e4, #33c2ff);
    border-radius: 35px;
}

#link-artigo article a:hover{
    transition: 3s;
    background-image: -webkit-linear-gradient(315deg, #175ea8, #175ea8);
    
}

/* Fidelidade */
#fidelidade{
    padding: 50px 0px 230px;
    background: url(../img/pet2.png) 0% 0% / cover;

}
#fidelidade  h1 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 800;
    color: #175ea8;
    margin-bottom: 50px;
    text-align: center;
}
#cartoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.cartao-item{
    width: 250px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:#00a1e4;
    background-image: -webkit-linear-gradient(315deg, #00a1e4, #33c2ff);
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #00000094;
}

.cartao-item h2{
    margin-bottom: 20px;
}
.cartao-item i{
    font-size: 35px;
    color: #175ea8;
}
.cartao-item img{
    margin-bottom: 15px;
}
.cartao-item:hover{
    transition: 0.8s;
    transform: scale(1.1,1.1);
    filter: grayscale(25%); 
    /* opacity: 0.9; */
}

/* Parallax */
#parallax{
    height: 100vh;
    background: url(../img/variosCachorros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 100vw rgba(41, 41, 41, 0.75);
    padding: 0px 20px;
}
#parallax h2{
    color: white;
    font-family: 'Niconne';
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
}

/* Histórias*/


/*Quem somos*/
#QuemSomos{
    padding: 50px 20px 100px;
}
#QuemSomos h1 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 800;
    color: #175ea8;
    margin-bottom: 50px;
}
#QuemSomos p {
    font-size: 20px;
    margin-bottom: 15px;
}
/* Banner comprido */
#banner-comprido img{
    width: 100%;
}
#banner-comprido img:hover{
    filter: grayscale(75%); 
}
/* Seta*/
#seta{
    display: none; 
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

#seta a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #11345a;
    color: white;
    font-size: 27px;
    border-radius: 26px;
    text-decoration: none;
}
#seta a:hover{
    filter: brightness(90%);
}

/* Fazer seta ficar mudando de cor */
#seta a {
    animation-name: seta;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  
  @keyframes seta {
    0%   {background-color: #11345a;}
    25%  {background-color: #11345a;}
    50%  {background-color: gray;}
    75%  {background-color: grau;}
    100% {background-color: #11345a;}
  }

  /* Fazer seta crescer e diminuir*/
#seta{
    transition: 1s;
}
#seta:hover{
    transform: scale(1.1,1.1);
}


/* Início footer */

footer{
    margin-top: 50px;
    background: #175ea8;
    background: #00a1e4;
    background-image: -webkit-linear-gradient(315deg, #00A1DE, #2477cd);
    text-align: center;
    padding: 25px 20px;
    color: white;
}
#menu-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo-footer img{
    margin-bottom: 10px;
}
#logo-footer p{
    font-family: 'Niconne';
    font-size: 26px;
}
#logo-footer a:hover{
    opacity: 0.8;
}
#links-footer{
    text-align: left;
}
#links-footer h2{
    margin-bottom: 15px;   
    font-size: 18px;
}
#links-footer ul li{
    margin-bottom: 11.8px;   
}
#links-footer ul li a{
    color: white;  
    font-style: 200; 
}
#links-footer ul li a:hover{
    color: #00a1e4;  
}
#localizacao{
    text-align: left;
}
#localizacao h2{
    margin-bottom: 10px;
    font-size: 18px;
}
#localizacao p{
    margin-bottom: 10px;
    font-weight: 200;
}
#localizacao p span{
    font-size: 12px;
} 
#localizacao iframe{
    margin-bottom: 10px;
}
#img-footer img:hover{
    transition: 0.9s;
    transform: scale(1.1,1.1);
}
#linha{
    margin-bottom: 30px;
}
#linha hr{
    border-color: white;
}
#redes-footer{
    display: flex;
    justify-content: space-around;
}
#redes{
    display: flex;
    align-items: center;
    justify-content: center;
}
#redes li{
    display: inline-block;
    margin-right: 15px;
}
#redes a{
    color: white;
}
#redes a:hover{
    color: #1d5da2;
}
/* Fazer Redes girar*/
#redes a i{
    transition: width 1s, height 1s, transform 1s;
}
#redes a:hover i{
    transform: rotate(360deg);
}

/* Responsividade */
@media (max-width: 450px){
    .carousel-item a > img {   
        height: 180px;  
    }
    #cont-cards {
        justify-content: center;
    }
    #especies ul {
        justify-content: space-between;
    }
    #especies ul li {
        margin-left: 10px;
    }
    #link-artigo article {
        display: block;
        margin: 0px auto 20px;
    }
    #parallax {
         background-attachment: inherit;
    }
    #parallax h2{
        font-size: 70px;
   }

    #link-artigo {
        display: block;
    }

    #menu-footer {
        flex-direction: column;
    }
    #logo-footer, #links-footer, #localizacao{
        margin-bottom: 30px;
    }
    #links-footer, #localizacao{
        text-align: center;
    }
    #img-footer{
        margin-bottom: 20px;
    }
    #redes {
        margin-bottom: 15px;
    }
    #redes-footer {
        flex-direction: column-reverse;
    }
    #redes-footer p{
        line-height: 20px;
    }


}
@media (max-width: 690px){
    #menu-footer {
        flex-direction: column;
    }
    #logo-footer, #links-footer, #localizacao{
        margin-bottom: 30px;
    }
    #links-footer, #localizacao{
        text-align: center;
    }
    #img-footer{
        margin-bottom: 20px;
    }
    #redes {
        margin-bottom: 15px;
    }
    #redes-footer {
        flex-direction: column-reverse;
    }
    #redes-footer p{
        line-height: 20px;
    }
    #historias img{
        width: 100%;
    }
}
@media (max-width: 765px){
    header #menu{
        display: none;
    }
    #botao-menu{
        display: block;
    }
}
@media (max-width: 780px){
    #cartoes{
        flex-direction: column; 
        justify-content: space-around;
    }
    .cartao-item {
        margin-bottom: 20px;
    }
}
@media (max-width: 945px){
    #cont-cards {

        justify-content: space-around;

    }
}


/* imagens grátis https://www.pngwing.com/ */