/*  Reset Css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*{box-sizing: border-box;}
p{margin: 0px; padding: 0px}
a:hover{text-decoration: none;}
li{list-style: none;}

/*  Fim Reset Css */

/* Barra de rolagem */
* {
    scrollbar-width: thin;
    scrollbar-color: #D5D5D5 #FFFFFF
}

*::-webkit-scrollbar {
    width: 12px
}

*::-webkit-scrollbar-track {
    background: #FFFFFF
}

*::-webkit-scrollbar-thumb {
    background: #D5D5D5;
    border-radius: 1rem;
    border: 4px #FFFFFF solid
}

/* fim varra de Rolagem */

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
  }
html{
    scroll-behavior: smooth;
    font-family: Poppins;
    scroll-behavior: smooth;
    background: #175ea8;
    background: #1d5da2;
    background: #00a1e4;
    background: #eeeeee;
    background: #eb6852;
    background: #bde386;
    background: #effbff;
    background: #ffe7b2;
    background: #feeed2;
    background: whitesmoke;
    background: #371669;
    background: #4e2096;
    background: #f3eee8;
    background: #74cb90;
    background: #cce9fd;
    background: #229dc3;
    background: white;
    background: #e7f0f7;
    
}
/* Header */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00a1e4;
    padding: 12px 15px;
    position: fixed;
    top: 0px; 
    z-index: 10000;
}

header #logo{
    display: block;
    width: 140px;
    height: 49px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
header #logo:hover{
    opacity: 0.9;
}

header .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header #menu{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
header #menu ul {
     display: flex; 
}

header nav #menu li{
    margin-left: 10px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: all 0.3s ease 0s;
}
header a:hover{
    color: #1d5da2;
}
#botao-menu{
    display: none;
    font-weight: 900;
    font-size: 32px;
    color: white;
    cursor: pointer;
}
#botao-menu:hover{
    color: #1d5da2;
}

header a{
    text-decoration: none;
}

header #menu-mobile{
    opacity: 0;
    transition: 0.5s;
    transform: translateX(100rem);
    position: fixed;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 100%;
    background: #cce9fd;
    background: #1d5da2;
    text-align: center;
    z-index: 10001;
}
header #menu-mobile a{
    display: block;
    padding: 20px 0px; 
    font-size: 22px;
}
header #menu-mobile i{
    margin: 20px 20px 20px 20px;
    text-align: right;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
header #menu-mobile ul li:first-child{
    text-align: right;
}
header #menu-mobile i:hover{
    color: #cce9fd;
}

header #menu-mobile a:hover{
    background: #cce9fd;
}
main{
    padding-top: 73px;
}
/* Inicio Espécies*/
#especies{
    background: whitesmoke;
    height: 110px;
    padding-top: 5px;
    padding-bottom: 10px;
    overflow: hidden;
}
#especies a:hover{
    opacity: 0.7;
}
#especies ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#especies ul li{
    display: inline-block;
    text-align: center;
    
}
#especies ul li img{
    display: block;
}
#especies ul li a{
   text-decoration: none;
   color: #175ea8;
}

/* Início Vitrine*/
.carousel-caption{
    color: #9ae1ff;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.4em black;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}
.carousel-control-prev i, .carousel-control-next i{
    color: #1d5da2;
    font-size: 30px;
}

/* Texto */
.cont{
    max-width: 1200px;
    margin: 0 auto;
}
/* Início Cards */
#cards{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    background: #e7f0f7;
    background: url(../img/pet3.png) ;
    background-size: contain;

}
#cards h1{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 800;
    color: #175ea8;
    margin-bottom: 50px;
}
#cont-cards{
    display: flex;
    margin-top: 1.6rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px 20px;
}
.item-card{
    margin-bottom: 20px;
}
#cards img:hover{
    transition: 0.9s;
    transform: scale(1.1,1.1);
    opacity: 0.8;
}


/* Artigos */

#cont-artigos{
    background: #cde9fe url(../img/pet.png);
    background-size: cover;
}
#artigos #top-artigos{
    display: block;
    height: 82px;
    background-image: url(../img/bg-topo-azul.png);
    background-repeat: no-repeat;
    background-size: cover;

}
#artigos #bot-artigos{
    display: block;
    height: 69px;
    background-image: url(../img/bg-bottom-azul.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* Início footer */

footer{
    background: #00a1e4;
    text-align: center;
    padding: 25px 20px;
    color: white;
}

#redes{
    display: flex;
    align-items: center;
    justify-content: center;
}
#redes li{
    display: inline-block;
    margin-right: 15px;
}
#redes a{
    color: white;
}
#redes a:hover{
    color: #1d5da2;
}

/* Responsividade */
@media (max-width: 450px){
    #cont-cards {
        justify-content: center;
    }

}
@media (max-width: 765px){
    header #menu{
        display: none;
    }
    #botao-menu{
        display: block;
    }
}

@media (max-width: 945px){
    #cont-cards {

        justify-content: space-around;

    }
}