/*  Reset Css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*{box-sizing: border-box;}

/*  Fim Reset Css */

/* Barra de rolagem */
* {
    scrollbar-width: thin;
    scrollbar-color: #D5D5D5 #FFFFFF
}

*::-webkit-scrollbar {
    width: 12px
}

*::-webkit-scrollbar-track {
    background: #FFFFFF
}

*::-webkit-scrollbar-thumb {
    background: #D5D5D5;
    border-radius: 1rem;
    border: 4px #FFFFFF solid
}

/* fim varra de Rolagem */

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
  }
html{
    font-family: Poppins;
    scroll-behavior: smooth;
    background: #e7f0f7;
    background: #175ea8;
    background: #1d5da2;
    background: #00a1e4;
    background: #eeeeee;
    background: #eb6852;
    background: #bde386;
    background: #effbff;
    background: #ffe7b2;
    background: #feeed2;
    background: whitesmoke;
    background: #371669;
    background: #4e2096;
    background: #f3eee8;
    background: #74cb90;
    background: #cce9fd;
    background: white;
    
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00a1e4;
    padding: 15px 15px;   
}

header #logo{
    display: block;
    width: 140px;
    height: 49px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
header #logo:hover{
    opacity: 0.9;
}

header .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header #menu{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
header #menu ul {
     display: flex; 
}

header nav #menu li{
    margin-left: 10px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease 0s;
}
header a:hover{
    color: #1d5da2;
}
